*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    .main_div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 110px;
        width: 300px;
        background-color: transparent;
        border: 9px solid aqua;
        border-radius: 50%;
        position: relative;
        span{
            height: 50px;
            width: 50px;
            background-color: aqua;
            border-radius: 50%;
        }
        ::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: 9px solid aqua;
            border-radius: 50%;
            top: 0%;
            left: 0%;
            transform: rotate(55deg);
        }
        ::after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: 9px solid aqua;
            border-radius: 50%;
            top: 0%;
            left: 0%;
            transform: rotate(-55deg);
        }
    }
}