*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    .main_div{
        height: 250px;
        width:300px;
        border-radius: 20px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .circle{
            position: absolute;
            height: 130px;
            width: 130px;
            background-color:rgb(13, 121, 13);
            top: 38px;
            left:-155px;
            border-radius: 50%;
            border: 15px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            .inside{
                height: 100px;
                width: 100px;
                background-image: conic-gradient(rgb(109, 191, 131) 0deg, rgb(109, 191, 131) 90deg, rgb(10, 114, 55) 90deg, rgb(10, 114, 55) 180deg, rgb(7, 255, 7) 180deg, rgb(7, 255, 7) 270deg, rgb(78, 175, 56) 270deg);
  border-radius: 50%;
             border-radius: 50%;
             transform: rotate(43deg);
            }
        }
        .small{
            position: absolute;
            height: 30px;
            width: 30px;
            background-color: #ffffff;
            border-radius: 50%;
            top: 25px;
            right: 30px;
        }
    }
}

.main_div::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 38px;
    background-color:rgb(41, 188, 41);
    top: -20px;
    left: 30px;
    border-radius: 10px 10px 0px 0px;
}