*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    .main{
    height: 50px;
    width: 50px;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: all 0.3s;
    transform-origin: right;
    position: relative;
    i{
        position: absolute;
        font-size: 25px;
    }
    }
    .main:hover{
        cursor: pointer;
        width: 250px;
        background-color: #fff;
        color: dodgerblue;
        i{
            right: 10px;
        }
    }
}